.App {
    text-align: center;

}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgb(54, 57, 62) 0%, rgb(54, 57, 62) 100%);
    margin: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Grundstil für den Body und das HTML-Element */
html, body {
    height: 100%;
}


/* Navbar */

.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    objectFit: 'cover';
}

/* Container für das erweiterte Profil */
.profile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Banner-Bereich */
.profile-banner {
    background-color: #1e2124;
    text-align: center;
}

.profile-banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profile-content {
    background-color: #36393EFF;
    padding-top: 40px;
    height: 55em;
}

.profile-stats {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.profile-stat {
    text-align: center;
    margin-right: 150px;
}

.profile-stat:last-child {
    margin-right: 0;
}

.profile-stat h4 {
    margin-bottom: 5px;
    color: #4e5f83;
}

.profile-content h3 {
    padding-bottom: 5px;
    color: rgba(255, 255, 255, 0.53);
}

.profile-stat p {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.profile-image-large {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
    .profile-stat {
        margin-bottom: 10px;
    }
}

.auth-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Chat */
.Messages-message {
    display: flex;
    margin-top: 10px;
}

.Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
}

.Message-content {
    display: inline-block;
}

.currentMember > .Message-content {
    align-items: flex-end;
}

.Messages-message > .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
    objectFit: 'cover';
}

.Message-content > .username {
    display: block;
    color: gray;
    font-size: 20px;
    padding-bottom: 4px;
}

.Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: darkslategray;
    color: white;
    display: inline-block;
}

.currentMember > .Message-content .text {
    background-color: orangered;
}

.Message-input-container {
    padding-top: 50px;
    padding-bottom: 100px;
}

.sidebar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

/* Sidebar */

.sidebar-link {
    padding-left: 2px;
    font-size: 20px;
    display: grid;
    grid-gap: 1px;
    border-radius: 4px;
}

.sidebar-active {
    color: #007bff;
    backdrop-color: #000;;
    font-weight: bold;
}

.sidebar-icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 2px;
    left: 5px;
}
.sidebar-button {
    height: 50px;
    width: 95%;
    border: 3px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 2.5%;
}
.newpost-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 66, 66, 0.8);
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100%;
}

.newpost {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    width: 50%;
    height:auto
}

.sticky-sidebar {
    position: sticky;
    top: 75px;
    height: 80%;
}

.blur-background {
    filter: blur(10px); /* Adjust the blur intensity as needed */
    pointer-events: none; /* Prevent interactions with the blurred background */
}

.delete-post:hover {
    color: darkred;
}

.post-user:hover {
    color: blue;
}

.tooltip-card {
    align-items: center;
    justify-content: center;
    width: 25%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip-card::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #ccc transparent transparent transparent;
}

.follow-button {
    height: 45px;
    width: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*COMMENTS*/
/* Styles for CommentsComponent */
.comments {
    margin-top: 20px;
}

/* Styles for CommentComponent */

.comment-user {
    display: flex;
    align-items: center;
}

.comment-profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-username {
    font-weight: bold;
    margin-right: 5px;
}

.delete-comment {
    color: red;
    cursor: pointer;
    margin-left: 10px;
}

.comment-text {
    margin-left: 40px;
    flex-grow: 1;
}

.comment-box {
    background-color: white;
    border: 1px solid #cccccc;
    padding-left: 20px;
    padding-top: 20px;
}

.comment-box:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.comment-box .comment-user:hover,
.comment-box .comment-text:hover,
.comment-box .comment-info:hover {
    border: none;
    background-color: transparent;
}

.comment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.comment-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.comment-input input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.comment-input button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.comment-input button:hover {
    background-color: #0056b3;
}

.comment-button {
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}

.comment-icon {
    margin-right: 6px;
}

