.App {
    text-align: center;

}

html, body {
    height: 100%;
}

body {
    background: linear-gradient(90deg, rgb(110, 110, 110) 0%, rgb(70, 70, 70) 100%);
    margin: 0;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Grundstil für den Body und das HTML-Element */
html, body {
    height: 100%;
}

/* Container für das erweiterte Profil */
.profile-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Banner-Bereich */
.profile-banner {
    background-color: #eee;
    padding: 20px;
    text-align: center;
    flex-shrink: 0; /* Banner wird nicht verkleinert */
}

.profile-banner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-content {
    background-color: #fff;
    padding-top: 40px;
    height:55em;
}

.auth-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Chat */
.Messages-message {
    display: flex;
    margin-top: 10px;
}

.Messages-message.currentMember {
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    text-align: right;
}

.Message-content {
    display: inline-block;
}

.currentMember > .Message-content {
    align-items: flex-end;
}

.Messages-message > .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px -10px;
}

.Message-content > .username {
    display: block;
    color: gray;
    font-size: 20px;
    padding-bottom: 4px;
}

.Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: darkslategray;
    color: white;
    display: inline-block;
}

.currentMember > .Message-content .text {
    background-color: orangered;
}

.Message-input-container {
    padding-top: 50px;
    padding-bottom: 100px;
}